body {
    background-color: lightgrey;
}

#cleaning-aisle {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 50px auto;
}

.cleaning-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clean-heading h3 {
    font-size: 1.56rem;
    font-weight: 700;
    color: #202020;
    letter-spacing: 0.5px;
}

.clean-heading span {
    color: #a7a7a7;
    font-weight: 400;
    letter-spacing: 1px;
}

#cleaning-aisle {
    margin: 80px auto;
}

.cleaning-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3px;
    margin: 40px 0px;
}

.container-box {
    width: 300px;
    border: 1px solid #eeeeee;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.container-box img {
    width: 90%;
    height: 180px;
    object-fit: contain;
    object-position: center;
    margin: auto;
}

.container-box strong {
    color: #202020;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 10px;
}

.container-box .quantity {
    color: #949494;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.container-box .price {
    margin-top: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    color: #393939;
}

.container-box .cart-btn {
    width: 100%;
    height: 40px;
    background-color: rgb(135, 206, 235);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    transition: all ease 0.3s;
}

.container-box .cart-btn i {
    margin-right: 10px;
    text-decoration: none;
}

.container-box .cart-btn:hover {
    background-color: rgba(135, 206, 235, 0.6);
    color: #ffffff;
    transition: all ease 0.3s;
}

@media(max-width: 1050px) {
    .cleaning-container {
        grid-template-columns: 1fr 1fr;
        margin-left: 50px;
    }
}

@media(max-width: 760px) {
    .cleaning-container {
        margin: auto;
        grid-template-columns: 1fr;
    }
    h3 {
        margin: auto;
        margin-bottom: 25px;
    }
}