.container {
    max-width: 700px;
    width: 100%;
    background: rgba(128,128,128,0.2);
    padding: 25px 30px;
    border-radius: 5px;
    margin-top:100px;
    
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position:relative;
}

.container #title2 {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    margin-top: 30px;
}

.container .title::before {
    content: '';
    position: absolute; 
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: rgb(25, 135, 84);

}

.container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px)
}

.user-details .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box valid {
    border-color: rgb(25, 135, 84);
}

form .button input{
    height: 100%;
    width: 25%;
    color:white;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: rgb(25, 135, 84);
    margin-top: 50px;

}


.save{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}



.save {
    background: green;
    padding: 5px 20px 5px 20px;
    transition: 0.3s;
    color: white;
    font-family: sans-serif;
    font-weight: 550;
    border-radius: 5px;
    margin:auto;
}

.cancel:hover {
    background: rgba(0,0,0,0.7);
}

.save:hover {
    background: rgba(0,0,0,0.7);
}


@media (max-width: 584px){
    .container {
        margin: 50px 25px 50px 25px;
        max-width: 100%;
    }

    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }

    .container form .user-details {
        max-height: 200px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width:0;
    }
}